#main{
    background-color: lightslategray;
}
#title{
    font-size: 30px;
    text-align: center;
    
    
}

#img-div {
    position: relative;
    padding: 0.5px;
    background-color: whitesmoke;
}
#img {
    width: 100%;
    height: auto;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}