#title{
    font-size: 30px;
    text-align: center;
    margin: 0px 3px 0px 3px;
    background-color: lightslategray;
}

#img-div {
    position: relative;
    padding: 0.5px;
    background-color: grey;
}
#img {
    width: 100%;
    height; auto;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}